# DB configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

# Url shortener configuration
ALLOWED_CHARS=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
SHORT_URL_LENGTH=6
STD_EXPIRATION_MINUTES=60
HASH_SALT_SECRET=shrtJr!283yT9KlmN

# Redis configuration
REDIS_HOST=
REDIS_PORT=
REDIS_FLUSH=