<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>ShortJ | Generate</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; text-align: center;">
        <form action="/create" method="post">
            <input type="text" name="originalUrl" placeholder="Digite a URL" required>
            <input type="text" name="customAlias" placeholder="Alias (opcional)">
            <input type="number" name="expirationMinutes" placeholder="Expiração em minutos">
            <button type="submit">Encurtar</button>
        </form>
    </body>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</html>
